body {
    box-sizing: border-box;
  }


  .cat-img{
margin-top: 20px;
width: 800; 
height: 600;
  }


.description{
  font-size: 20px;
  width: 770px;
}


  .temperament-span{
    font-size: 23px;
    font-weight: bold;
   
  }

.temperament{
  font-size: 20px;
}



.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}